<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title\</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>

    <script src="../lib/angular.min.js"><!-- --></script>
    <script src="../lib/angular-route.min.js"><!-- --></script>
    <script src="../app/application.js"><!-- --></script>
    <script src="../app/controller/IndexController5.js"><!-- --></script>
</head>
<body >
    <div class="mainContainer" ng-app="RavensApp">
        <h1>Tytul naszej strony</h1>
        <div ng-controller="ravensCtrl">

        </div>
    </div>
</body>
</html>